/* .aside-menu {
    padding: 0;
    margin-top: 340px;
}

.aside-menu a {
    display: block;
    font-size: 22px;
    text-decoration: none;
    padding: 10px 50px 10px 0px;
    font-family: "Inter";
    font-weight: bold;
    color: #3d3d3d;
    transition: .3s;
}

.aside-menu a:hover {
    transition: .3s;
    color: white;
    cursor: pointer;
} */